html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	min-height: 100%;
	background: #eee;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #4e4e4e;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;

	@media (min-width: @width-elg) {
  		font-size: 1.3em;
	}
}

::-webkit-scrollbar {
	width:10px;
	height:8px;
}
::-webkit-scrollbar-track-piece {
	background-color:#4E4E4E;
}
::-webkit-scrollbar-thumb {
	height:5px;
	background-color:#2a736e;
}
::-webkit-scrollbar-thumb:hover {
	background-color:#3a837e;
}
::-webkit-scrollbar-thumb:active {
	background-color:#3a837e;
}

::-o-scrollbar {
	width:10px;
	height:8px;
}
::-o-scrollbar-track-piece {
	background-color:#4E4E4E;
}
::-o-scrollbar-thumb {
	height:5px;
	background-color:#2a736e;
}
::-o-scrollbar-thumb:hover {
	background-color:#3a837e;
}
::-o-scrollbar-thumb:active {
	background-color:#3a837e;
}

::-moz-scrollbar {
	width:10px;
	height:8px;
}
::-moz-scrollbar-track-piece {
	background-color:#4E4E4E;
}
::-moz-scrollbar-thumb {
	height:5px;
	background-color:#2a736e;
}
::-moz-scrollbar-thumb:hover {
	background-color:#3a837e;
}
::-moz-scrollbar-thumb:active {
	background-color:#3a837e;
}

body *::-moz-selection {
	background: #3e3e3e;
    color: #2A736E;
}

body *::-webkit-selection {
	background: #3e3e3e;
    color: #2A736E;
}

body *::selection {
	background: #3e3e3e;
    color: #2A736E;
}

p {
	font-family: Trebuchet-MS-Bold, Sans-serif;

	@media (min-width: @width-elg) {
  		font-size: 1.3em;
	}
}

img {
	border: none;
}

* {
	outline: none;
	cursor: default;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #009090;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet-MS-Bold';
    font-weight: bold;
	color: #4e4e4e;
}

.margins {
	padding: 18px 0;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.title-p {
	font-size: 2em;
}

.title {
	color: #4e4e4e;
}

.coment {
	color: #5e5e5e;
}

.linear {
	border-top: 4px dotted #2A736E;
	margin-top: 24px;
}
.margin-right-md {
	margin-right: 0;

	@media (min-width: @width-md) {
		margin-right: 80px;
	}
}

.web-color {
	color: #009090;
	text-decoration: none;
}

.nav {
	height: 80px;
}

.cb {
	content: " ";
	display: block;
	font-size: 0;
	clear: both;
	visibility: hidden;
	width: 0;
	height: 0;
}

//появление контента при листании. классы по умолчанию
.object-non-visible {
	.opacity (@opacity: 0);
}
//появление контента при листании. классы по умолчанию//

//появление контента при листании. классы по умолчанию + добавляющиеся при прокручивании
.object-visible {
	.opacity (@opacity: 1);
    filter: alpha(opacity=100) !important;
    .transition(@args: all 1s);
}
//появление контента при листании. классы по умолчанию + добавляющиеся при прокручивании//

.f-m  {
	display: block;
    vertical-align: top;
    margin: 10px auto 0;
    padding: 4px;
    text-align: center;
    width: auto;

    &:first-child {
		display: none;
	}

    @media (min-width: @width-ls) {
		display: block;
		width: 100%;

		&:first-child {
			display: none;
		}
	}

	@media (min-width: @width-md) {
		display: table-cell;
		width: 20%;

    	&:first-child {
			display: table-cell;
			width: 50%;
		}
	}

	ul {
		display: table;
		margin: 0 auto;
		padding-left: 0;

		li {
			list-style: none;
			font-size: 18px;

			@media (min-width: @width-elg) {
		  		font-size: 1.3em;
			}
		}
	}
}

.table {
	display: table;
	width: 100%;

	.colum {
		display: block;
	    vertical-align: top;
	    margin: 10px auto 0;
	    padding: 4px;
	    text-align: center;
	    width: auto;

	    @media (min-width: @width-ss) {
			display: table-cell;
			width: 48%;
		}

		ul {
			display: table;
			margin: 0 auto;
			padding-left: 0;

			li {
				list-style: none;
				font-size: 18px;

				@media (min-width: @width-elg) {
			  		font-size: 1.3em;
				}
			}
		}
	}

	.border-dashed {
		border: 1px dashed #009090;
		padding: 4px;
		margin: 4px;

		@media (min-width: @width-ss) {
			border: none;
			padding: 0;
		}
	}
}

.block {
	display: block;
}

header {	
	position: relative;
	display: block;
	width: auto;
	z-index: 2;
}

.logo {
	display: inline-block;
    height: 80px;
    position: relative;

	.img-logo {
	    position: relative;
	    height: 80px;
	    width: 80px;
	    float: left;
	}

	>.we {
	    display: inline-block;
	    float: left;
	    line-height: 0px;
	    height: 80px;
	    width: 80px;
	    position: relative;
	    transition: all 1s, -webkit-transform 0.7s ease-in-out 0.4s;
	    transition: all 1s, transform 0.7s ease-in-out 0.4s;
	    transition: all 1s, transform 0.7s ease-in-out 0.4s, -webkit-transform 0.7s ease-in-out 0.4s;

		p {
			font-family: Papyrus, Sans-serif;
			color: #fff;
	    	float: left;
	    	font-size: 39px;
	    	text-transform: uppercase;
	    	position: absolute;
	    	transition: all 1s, -webkit-transform 0.7s ease-in-out 0.4s;
	    	transition: all 1s, transform 0.7s ease-in-out 0.4s;
	    	transition: all 1s, transform 0.7s ease-in-out 0.4s, -webkit-transform 0.7s ease-in-out 0.4s;
		}

		.w {
			-webkit-transform: rotate(-90deg);
			        transform: rotate(-90deg);
			left: 39px;
    		top: 1.5px;
	    	transition: all 1s, -webkit-transform 0.7s ease-in-out 0.4s;
	    	transition: all 1s, transform 0.7s ease-in-out 0.4s;
	    	transition: all 1s, transform 0.7s ease-in-out 0.4s, -webkit-transform 0.7s ease-in-out 0.4s;
		}

		.e {
			left: 5px;
			-webkit-transform: rotate(-180deg);
			        transform: rotate(-180deg);
	    	transition: all 1s, -webkit-transform 0.7s ease-in-out 0.4s;
	    	transition: all 1s, transform 0.7s ease-in-out 0.4s;
	    	transition: all 1s, transform 0.7s ease-in-out 0.4s, -webkit-transform 0.7s ease-in-out 0.4s;
		}
	}

	i.b {
		display: block;
		background-repeat: no-repeat;
		.sprite-retina(@b-x1);
		top: 20px;
	    left: 28px;
	    position: relative;
	      
	    transition: all 1s, -webkit-transform 0.7s ease-in-out 0.4s;
	      
	    transition: all 1s, transform 0.7s ease-in-out 0.4s;
	    .opacity (@opacity: 0);
	    transition: all 1s, transform 0.7s ease-in-out 0.4s, -webkit-transform 0.7s ease-in-out 0.4s;
	}

	&:hover i.b {
		display: block;
		background-repeat: no-repeat;
		.sprite-retina(@b-x1);
		top: 17px;
	    left: 85px;
	    position: relative;
	    .opacity (@opacity: 1);
	}

	&:hover .we {
		width: 128px;
	}

	&:hover .we .w {
		left: 3px;
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	&:hover .we .e {
		left: 45px;
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	.title {
	    font-size: 35px;
	    font-family: Papyrus, Georgia, Sans-serif;
	    position: relative;
	    top: 44px;
	    color: #00cece;
	    float: right;
	    display: block;
	    text-align: center;
	    width: 152px;
	}
}

.navigations {
	display: none;
	margin: 0 auto;
	top: 0;
	height: 80px;
	width: 100%;
	position: fixed;
	background: rgba(78, 78, 78, 0.6);
    // -webkit-transition: all 0.3s ease-in-out;
    // -moz-transition: all 0.3s ease-in-out;
    // -o-transition: all 0.3s ease-in-out;
    // -ms-transition: all 0.3s ease-in-out;
    .transition(@args: all 0.3s ease-in-out);

	@media (min-width: @width-md) {
		display: block;
	}

	a {
		color: #fff;
		display: inline-block;
		padding: 40px 0;
    	width: 100%;
		transition: color .5s, -webkit-transform 0.7s ease-in-out 0.4s;
		transition: color .5s, transform 0.7s ease-in-out 0.4s;
		transition: color .5s, transform 0.7s ease-in-out 0.4s, -webkit-transform 0.7s ease-in-out 0.4s;
		cursor: pointer;
	}

	.center {

		ul {
			margin: 0;
			padding: 0;
			display: table;
			width: 100%;

			li {
				list-style: none;
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				line-height: 0;

				&:hover a {
					color: #00cece;
				}

				&:nth-child(3n) {
					padding: 0;
					max-width: 93px;
				}

				&:hover:nth-child(3n) {
					color: inherit;
				}
			}
		}
	}

	.active {
		width: auto;
		border-bottom: 4px solid #00cece;
    	
		a {
			color: #00cece;
    		padding: 40px 0 36px;
		}
	}
}

.navigations-mobile {
	display: block;
    background: #4e4e4e;
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 1;

	@media (min-width: @width-md) {
		display: none;
	}

	&.active {

		.ic {
			.sprite-retina (@button-up-x1);
		}

		.one {
			display: block;
		}
	}

	.one {
		display: none;
		margin-top: 9px;
	    width: 80%;
	    left: -100vw;
	    position: absolute;
	    background: rgba(100, 100, 100, 0.97);
	    z-index: 3;
	    text-align: center;

	    ul {

	    	li {
	    		list-style-type: none;

	    		a {
			    	color: #fff;
			    	display: block;
				    cursor: pointer;
				    padding: 10px;
				    font-size: 20px;
				    margin-top: 10px;

				    &:last-child {
				    	margin-bottom: 10px;
				    }

				    @media (min-width: @width-elg) {
				  		font-size: 1.3em;
					}

				    &:hover {
				    	color: #00cece;
				    }
			    }
	    	}

    		.active {
    			color: #00cece;
    		}
	    }
	}

}

.opacity {
    background-color: rgba(78, 78, 78, 1);
    .transition(@args:all 0.3s ease-in-out);

	.logo {
    	.transition(@args:all 0.3s ease-in-out);
	}
}

main {
    width: 100%;
    padding-bottom: 50px;
    clear: both;

    @media (min-width: @width-md) {
    	padding-bottom: 60px;
	}

	@media (min-width: @width-lg) {
		padding-bottom: 90px;
	}
}

.post-show {
	position: relative;
	width: auto;
	height: 200px;
	z-index: -999998;

	.post-show-img {
		//background-image: url("/images/bg1.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		position: absolute;
		margin: 0;
		padding: 0;
		border: none;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: -999999;
		left: 0;
		max-width: none;
		max-height: none;

		video {
		    width: auto;
		    min-width: 100%;
		    height: 100vmax;
		    min-height: 100%;

    		@media (min-width: @width-md) {
    			width: 100vw;
			    min-width: 100%;
			    min-height: 100%;
			    height: auto;
			}
			
			@media (min-width: @width-lg) {
    			width: auto;
			    height: auto;
			    min-width: 100%;
			    min-height: auto;
			}
		}
	}

	#hitop {
		position: relative;
    	z-index: 1;
    	padding: 90px 0 0;
    	color: #fff;

    	h1 {
			color: #00cece;
    		font-size: 26px;

    		@media (min-width: @width-md) {
    			font-size: 40px;
			}

			@media (min-width: @width-lg) {
    			font-size: 60px;
			}
    	}
    }

    .devise {
    	display: inline-block;
    	border: 2px solid #c60;
    	margin: 0 auto;
    	padding: 8px 12px;

    	i {
	    	color: #c60;
	    	font-size: 1.5em;
	    	margin-right: 15px;

	    	&:last-child {
	    		margin-right: 0;
	    	}
    	}
    }

    .down-block {
		position: absolute;
		bottom: 0px;
		color: #fff;
		left: 0;
    	right: 0;
	}

	.down {
		color: #00cece;
		font-size: 2.5em;
	    -webkit-animation: updown .5s linear 1s infinite alternate;
	    animation: updown .5s linear 1s infinite alternate;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}
	/* Chrome, Safari, Opera */
	@-webkit-keyframes updown {
	    from {-webkit-transform: scale(1); bottom: 130px;}
	    to {-webkit-transform: scale(1.2); bottom: 125px;}
	}

	/* Standard syntax */
	@keyframes updown {
	    from {transform: scale(1); bottom: 130px;}
	    to {transform: scale(1.2); bottom: 125px;}
	}

	h1.center, strong, ul, li {
	    	text-shadow: 0 0 40px black;
		}

	strong {
		letter-spacing: 0.5px;
		line-height: 26px;
		font-size: 0.8em;

		@media (min-width: @width-md) {
			font-size: 1em;
		}

		@media (min-width: @width-lg) {
			font-size: 1.3em;
		}
	}

	ul {
		color: #00cece;
	    margin: 14px 0;
	    padding: 0 0 0 22px;

		li {
			color: #00cece;

    		span {
    			letter-spacing: 0.5px;
				line-height: 26px;
				font-size: 0.8em;
    			color: #fff;

    			@media (min-width: @width-md) {
					font-size: 1em;
				}

				@media (min-width: @width-lg) {
					font-size: 1.3em;
				}
    		}
		}
	}

	.z-i0 {
		z-index: 0;
	}
}

.content {
    display: block;
    position: relative;
    height: 100%;
    width: auto;
    z-index: 1;
}

#portfolio {
	margin-top: 15px;

	.nav-portfolio {
		padding-bottom: 14px;
	    text-align: center;

		button {
			padding: 14px 40px;
			font-size: 24px;
			color: #4e4e4e;
			margin: 1%;
			.border-radius(30px);
			border: 3px solid #009090;
			background: #fff;
			transition: all 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
			transition: all 0.3s, transform 0.3s ease-in-out 0.3s;
			transition: all 0.3s, transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;

			&:hover {
				background: #009090;
				color: #fff;
				transition: all 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
				transition: all 0.3s, transform 0.3s ease-in-out 0.3s;
				transition: all 0.3s, transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
			}
		}

		.active {
			position: relative;
			background: #009090;
			color: #fff;
			transition: all 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
			transition: all 0.3s, transform 0.3s ease-in-out 0.3s;
			transition: all 0.3s, transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;

			&:after {
				display: none;
				position: absolute;
				bottom: -3px;
				margin: 0 auto;
			    left: 0;
			    right: 0;
			    width: 0px;
				content: ''; 
			    position: absolute; /* Абсолютное позиционирование */
			    border: 10px solid transparent; /* Прозрачные границы */
			    border-bottom: 10px solid #fff; /* Добавляем треугольник */
			
				@media (min-width: @width-md) {
					display: block;
				}
			}
		}
	}

	.content-portfolio {
		width: 100%;

		.content-center-portfolio {
			margin: 0 auto;
			max-width: 370px;
			min-width: 370px;
			min-height: 313px;
			transition: width 0.2s;

			@media (min-width: @width-ls) {
				max-width: 780px;
				min-width: 370px;
			}

			@media (min-width: @width-md) {
				max-width: 960px;
				min-width: 370px;
			}

			@media (min-width: @width-lg) {
				max-width: 1160px;
				min-width: 370px;
			}

			.image-box {
				float: left;
				cursor: pointer;
				margin-bottom: 20px;
				margin-right: 10px;
				margin-left: 10px;
				width: 370px;

				@media (min-width: @width-md) {
					width: 300px;
				}

				@media (min-width: @width-lg) {
					width: 270px;
				}

			    a.overlay-container {

			    	.obj {
				    	background: #4e4e4e;
			    		-webkit-display: -webkit-flex;
			    		-ms-display: -ms-flexbox;
			    		display: flex;
			    		max-width: 100%;
					    height: 250px;
					    position: relative;

				    	img {
							display: block;
						    max-width: 100%;
						    max-height: 100%;
						    margin: auto;
				    	}
				    }

				    span.btn-title {
				    	display: block;
				    	background: #009090;
				    	color: #fff;
					    border: 1px solid #4e4e4e;
					    padding: 10px;
					    text-align: center;
				    }
			    }
			}
		}
	}
}

.active-modal {
	display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    font-size: 12px;
    line-height: 16px;
    background: #000;
    background: rgba(0,0,0,0.85);

    .wrap {
    	width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    display: table;

	    .tr {
	    	display: table-cell;
		    vertical-align: middle;
		    text-align: center;
		    width: 100%;
		    margin: 0;
		    padding: 0;

		    .td {
		    	display: inline-block;
			    margin: 0 auto;
			    text-align: left;
			    position: relative;

			    .data {
			    	max-width: 1000px;
				    text-align: left;
				    background: #fff;
				    position: relative;
				    margin: 25px;
				    .border-radius(8px);

				    .close {
				    	position: absolute;
					    top: 25px;
					    right: 20px;
					    cursor: pointer;
					    transition: all 200ms;
					    -webkit-transform: translate3d(0,0,0);
					            transform: translate3d(0,0,0);
				    }

				    .svg.close {
				    	width: 15px;
					    height: 15px;
					    background: url(/images/design/svg/close_mw.svg) no-repeat;
					    background-size: contain;
					    display: inline-block;
				    }

				    .content {

				    	.termofuse {
				    		width: 140px;
    						padding: 60px 60px 30px 60px;

							@media (min-width: @width-ss) {
						    	width: 300px;
							}

							@media (min-width: @width-ls) {
						    	width: 640px;
							}

    						@media (min-width: @width-md) {
						    	width: 840px;
							}

							@media (min-width: @width-lg) {
						    	width: 1000px;
							}

    						.title {
    							font-size: 30px;
							    line-height: 34px;
							    color: #67788d;

							    .content-modal {
							    	padding-top: 20px;
								    font-size: 14px;
								    line-height: 20px;
							    }
    						}
				    	}
				    }
			    }
		    }
	    }
    }
}

#profi {
	li {
		padding-top: 4px;
	}
}

.contact {
	margin: 15px auto 0;

	p.center {
		font-size: 18px;
		margin: 0;
		text-align: center;

		@media (min-width: @width-elg) {
	  		font-size: 1.3em;
	  		text-align: left;
		}
	}

	p {
		font-size: 18px;
		margin: 0;

		@media (min-width: @width-elg) {
	  		font-size: 1.3em;
		}
	}

	span {
		display: table;
		margin-top: 8px;
		text-align: left;
		color: #4e4e4e;

		&:hover, &:hover a {
			color: #00cece;
		}

		i, a {
			cursor: pointer;
			.transition (@args: all 0.3s);
		}

		i {
			display: table-cell;
			vertical-align: middle;
			padding-right: 10px;
		}

		a {
			display: table-cell;
			vertical-align: middle;
			color: #4e4e4e;
		}
	}
}

footer {
	background: #4e4e4e;
    bottom: 0px;
    height: 53px;
    position: absolute;
    width: 100%;

    @media (min-width: @width-md) {
		height: 60px;
	}

	@media (min-width: @width-lg) {
		height: 90px;
	}

	.elements {
		display: none;
		margin: 0 auto;
		width: 100%;
		position: relative;

		@media (min-width: @width-md) {
			display: block;
			}

		a.swing {
			cursor: pointer;
			display: block;
			color: #fff;
			font-family: Papyrus, Sans-serif;
			padding: 14px 14px 0;
			text-align: center;

			@media (min-width: @width-md) {
				bottom: 8px;
				position: absolute;
				right: 10px;
				top: auto;
				text-align: inherit;
			}

			@media (min-width: @width-lg) {
				bottom: 10px;
			}

			@media (min-width: @width-elg) {
		  		font-size: 1.3em;
		  		bottom: 8px;
			}

			&:hover {
			    -webkit-animation: swing 1s ease;
			    animation: swing 1s ease;
			    -webkit-animation-iteration-count: 1;
			    animation-iteration-count: 1;
			}
		}
	}
}

.social {
	    margin: 0 auto;
	    width: 194px;
	    position: relative;
	    padding-top: 6px;

	    @media (min-width: @width-md) {
	    	padding-top: 10px;
		}

		@media (min-width: @width-lg) {
	    	padding-top: 26px;
		}

	.layer {
		display: inline-block;
		margin-right: 15px ;

		&:last-child {
			margin-right: 0;
		}

		a {
			cursor: pointer;
			display: block;
			color: #00dede;
			font-size: 2.2em;
			.transition (@args: all 0.3s);

			&:hover {
				color: #fff;
			}
		}
	}
}



.ss-form-submit {
	background: #009090;
	padding: 10px;
	height: 230px;
	width: 234px;
	margin: 0 auto;

	@media (min-width: @width-ss) {
    	width: 300px;
	}

	p.title {
		margin-top: 24px;
		font-size: 24px;
		font-weight: bold;
	}

	span {
		color: #aaa;
		cursor: pointer;
		margin-top: 24px;
		text-decoration: underline;
		transition: all .5s;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}

.messages-site {
	margin: 10px auto 0;
    padding: 20px 10px;
    text-align: left;
    //background: url("/images/map.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;

	iframe {
		display: none;
	}

	.ss-form-container {
		background: #fff;
		padding: 10px;
		width: auto;
		margin: 0 auto;

		@media (min-width: @width-ss) {
	    	width: 400px;
		}

		.ss-form-title {
			text-align: center;
		}

		.ss-form-question {
			margin-top: 15px;
		}

		.ss-form-entry {
			position: relative;

			label.input-infield-label {
				position: absolute;
				font-size: 18px;
			    top: 14px;
			    left: 52px;
			    color: #a9a9a9;
			    padding: 0 4px;
			    background: #fff;
			    .transition (@args: all 0.1s);
			    .transition-timing-function(@function: ease-in-out);
			}

			input, textarea {
				padding: 14px 8px 14px 50px;
		    	width: 100%;
				.border-radius (4px);
		    	.box-sizing (@args:border-box);
		    	border: 2px solid #a9a9a9;
			    .transition (@args: border-color 0.1s);
			    .transition-property(@property: ease-in-out);

			    &:focus ~ label.input-infield-label {
					color: #00dede;
				}

				&:focus {
					border: 2px solid #00dede;
				}
			}

			label, input {
				text-align: left;
			}

			textarea {
				max-width: 100%;
				min-width: 100%;
				min-height: 78px;
				max-height: 140px;
			}
		}
		
		#navigation-buttons {

			input.ok {
				border: none;
				cursor: pointer;
				color: #fff;
				text-align: center;
				background: #00cece;
		    	width: 100%;
				.border-radius (4px);
		    	.box-sizing (@args:border-box);
			    .transition (@args:all 0.1s);
			    .transition-timing-function(@function: ease-in-out);
				padding: 12px;
				font-size: 20px;

				&:hover {
					background: #5e5e5e;
				}

				&:active {
					background: linear-gradient(to bottom,  #5e5e5e,#4e4e4e 100%);
				}
			}
		}
	}
}
