#portfolio {
	background: url(/images/bg11.jpg);
	background-size: cover;
	width: auto;

	h1 {
		color: #fff;
	}

	.content-portfolio {
		width: 100%;

		.content-center-portfolio {
			margin: 0 auto;
			max-width: 200px;
			min-width: 200px;
			min-height: 313px;
			.transition (@args: width 0.2s);

			@media (min-width: @width-ss) {
				min-width: 360px;
			}

			@media (min-width: @width-ls) {
				max-width: 760px;
				min-width: 370px;
			}

			@media (min-width: @width-md) {
				max-width: 960px;
				min-width: 370px;
			}

			@media (min-width: @width-lg) {
				max-width: 1160px;
				min-width: 370px;
			}

			.image-box {
				float: left;
				cursor: pointer;
				padding-right: 10px;
				padding-left: 10px;
				margin-bottom: 20px;
				margin-right: 0;
				padding-left: 0;
				width: 100%;

				@media (min-width: @width-ss) {
					width: 360px;
					margin-right: 10px;
					margin-left: 10px;
					padding-right: 0;
					padding-left: 0;
				}

				@media (min-width: @width-ls) {
					width: 360px;
				}

				@media (min-width: @width-md) {
					width: 300px;
				}

				@media (min-width: @width-lg) {
					width: 270px;
				}

			    a.overlay-container {

			    	.obj {
				    	background: #4e4e4e;
				    	.flex-block();
			    		max-width: 100%;
					    height: 200px;
					    position: relative;

					    @media (min-width: @width-ss) {
							width: 360px;
						}

						@media (min-width: @width-ls) {
							width: 360px;
						}

				    	img {
							display: block;
						    max-width: 100%;
						    max-height: 100%;
						    margin: auto;
				    	}
				    }

				    span.btn-title {
				    	display: block;
				    	background: #009090;
				    	color: #fff;
					    border: 1px solid #4e4e4e;
					    padding: 10px;
					    text-align: center;
				    }
			    }
			}
		}
	}
}

.active-modal {
	display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    font-size: 12px;
    line-height: 16px;
    background: #000;
    background: rgba(0,0,0,0.85);

    .wrap {
    	width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    display: table;

	    .tr {
	    	display: table-cell;
		    vertical-align: middle;
		    text-align: center;
		    width: 100%;
		    margin: 0;
		    padding: 0;
		    z-index: 0;

		    .td {
		    	display: inline-block;
			    margin: 0 auto;
			    text-align: left;
			    position: relative;

			    .data {
			    	max-width: 1000px;
				    text-align: left;
				    background: #fff;
				    position: relative;
				    margin: 25px;
				    .border-radius(8px);
				    z-index: 1;

				    .close {
				    	position: absolute;
					    top: 25px;
					    right: 20px;
					    cursor: pointer;
					    transition: all 200ms;
					    -webkit-transform: translate3d(0,0,0);
					    transform: translate3d(0,0,0);
				    }

				    .svg.close {
				    	width: 15px;
					    height: 15px;
					    background: url(/images/design/svg/close_mw.svg) no-repeat;
					    background-size: contain;
					    display: inline-block;
					    z-index: 2;
				    }

				    .content {

				    	.termofuse {
				    		width: 140px;
    						padding: 60px 60px 30px 60px;

							@media (min-width: @width-ss) {
						    	width: 300px;
							}

							@media (min-width: @width-ls) {
						    	width: 640px;
							}

    						@media (min-width: @width-md) {
						    	width: 840px;
							}

							@media (min-width: @width-lg) {
						    	width: 1000px;
							}

    						.title {
    							font-size: 30px;
							    line-height: 34px;
							    color: #67788d;

							    .content-modal {
							    	padding-top: 20px;
								    font-size: 14px;
								    line-height: 20px;
							    }
    						}
				    	}
				    }
			    }
		    }
	    }
    }
}