/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@b-x1-x: 0px;
@b-x1-y: 42px;
@b-x1-offset-x: 0px;
@b-x1-offset-y: -42px;
@b-x1-width: 40px;
@b-x1-height: 40px;
@b-x1-total-width: 80px;
@b-x1-total-height: 676px;
@b-x1-image: '/images/design/icon-x1.png?1';
@b-x1: 0px 42px 0px -42px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@button-up-x1-x: 0px;
@button-up-x1-y: 504px;
@button-up-x1-offset-x: 0px;
@button-up-x1-offset-y: -504px;
@button-up-x1-width: 80px;
@button-up-x1-height: 85px;
@button-up-x1-total-width: 80px;
@button-up-x1-total-height: 676px;
@button-up-x1-image: '/images/design/icon-x1.png?1';
@button-up-x1: 0px 504px 0px -504px 80px 85px 80px 676px '/images/design/icon-x1.png?1';
@button-x1-x: 0px;
@button-x1-y: 591px;
@button-x1-offset-x: 0px;
@button-x1-offset-y: -591px;
@button-x1-width: 80px;
@button-x1-height: 85px;
@button-x1-total-width: 80px;
@button-x1-total-height: 676px;
@button-x1-image: '/images/design/icon-x1.png?1';
@button-x1: 0px 591px 0px -591px 80px 85px 80px 676px '/images/design/icon-x1.png?1';
@dog-x1-x: 0px;
@dog-x1-y: 126px;
@dog-x1-offset-x: 0px;
@dog-x1-offset-y: -126px;
@dog-x1-width: 40px;
@dog-x1-height: 40px;
@dog-x1-total-width: 80px;
@dog-x1-total-height: 676px;
@dog-x1-image: '/images/design/icon-x1.png?1';
@dog-x1: 0px 126px 0px -126px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@dogs-hover-x1-x: 0px;
@dogs-hover-x1-y: 168px;
@dogs-hover-x1-offset-x: 0px;
@dogs-hover-x1-offset-y: -168px;
@dogs-hover-x1-width: 40px;
@dogs-hover-x1-height: 40px;
@dogs-hover-x1-total-width: 80px;
@dogs-hover-x1-total-height: 676px;
@dogs-hover-x1-image: '/images/design/icon-x1.png?1';
@dogs-hover-x1: 0px 168px 0px -168px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@dogs-x1-x: 0px;
@dogs-x1-y: 210px;
@dogs-x1-offset-x: 0px;
@dogs-x1-offset-y: -210px;
@dogs-x1-width: 40px;
@dogs-x1-height: 40px;
@dogs-x1-total-width: 80px;
@dogs-x1-total-height: 676px;
@dogs-x1-image: '/images/design/icon-x1.png?1';
@dogs-x1: 0px 210px 0px -210px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@ins-hover-x1-x: 0px;
@ins-hover-x1-y: 252px;
@ins-hover-x1-offset-x: 0px;
@ins-hover-x1-offset-y: -252px;
@ins-hover-x1-width: 40px;
@ins-hover-x1-height: 40px;
@ins-hover-x1-total-width: 80px;
@ins-hover-x1-total-height: 676px;
@ins-hover-x1-image: '/images/design/icon-x1.png?1';
@ins-hover-x1: 0px 252px 0px -252px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@ins-x1-x: 0px;
@ins-x1-y: 0px;
@ins-x1-offset-x: 0px;
@ins-x1-offset-y: 0px;
@ins-x1-width: 40px;
@ins-x1-height: 40px;
@ins-x1-total-width: 80px;
@ins-x1-total-height: 676px;
@ins-x1-image: '/images/design/icon-x1.png?1';
@ins-x1: 0px 0px 0px 0px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@phone-x1-x: 0px;
@phone-x1-y: 336px;
@phone-x1-offset-x: 0px;
@phone-x1-offset-y: -336px;
@phone-x1-width: 40px;
@phone-x1-height: 40px;
@phone-x1-total-width: 80px;
@phone-x1-total-height: 676px;
@phone-x1-image: '/images/design/icon-x1.png?1';
@phone-x1: 0px 336px 0px -336px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@phones-hover-x1-x: 0px;
@phones-hover-x1-y: 378px;
@phones-hover-x1-offset-x: 0px;
@phones-hover-x1-offset-y: -378px;
@phones-hover-x1-width: 40px;
@phones-hover-x1-height: 40px;
@phones-hover-x1-total-width: 80px;
@phones-hover-x1-total-height: 676px;
@phones-hover-x1-image: '/images/design/icon-x1.png?1';
@phones-hover-x1: 0px 378px 0px -378px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@phones-x1-x: 0px;
@phones-x1-y: 420px;
@phones-x1-offset-x: 0px;
@phones-x1-offset-y: -420px;
@phones-x1-width: 40px;
@phones-x1-height: 40px;
@phones-x1-total-width: 80px;
@phones-x1-total-height: 676px;
@phones-x1-image: '/images/design/icon-x1.png?1';
@phones-x1: 0px 420px 0px -420px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@skype-x1-x: 0px;
@skype-x1-y: 294px;
@skype-x1-offset-x: 0px;
@skype-x1-offset-y: -294px;
@skype-x1-width: 40px;
@skype-x1-height: 40px;
@skype-x1-total-width: 80px;
@skype-x1-total-height: 676px;
@skype-x1-image: '/images/design/icon-x1.png?1';
@skype-x1: 0px 294px 0px -294px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@skypes-hover-x1-x: 0px;
@skypes-hover-x1-y: 84px;
@skypes-hover-x1-offset-x: 0px;
@skypes-hover-x1-offset-y: -84px;
@skypes-hover-x1-width: 40px;
@skypes-hover-x1-height: 40px;
@skypes-hover-x1-total-width: 80px;
@skypes-hover-x1-total-height: 676px;
@skypes-hover-x1-image: '/images/design/icon-x1.png?1';
@skypes-hover-x1: 0px 84px 0px -84px 40px 40px 80px 676px '/images/design/icon-x1.png?1';
@skypes-x1-x: 0px;
@skypes-x1-y: 462px;
@skypes-x1-offset-x: 0px;
@skypes-x1-offset-y: -462px;
@skypes-x1-width: 40px;
@skypes-x1-height: 40px;
@skypes-x1-total-width: 80px;
@skypes-x1-total-height: 676px;
@skypes-x1-image: '/images/design/icon-x1.png?1';
@skypes-x1: 0px 462px 0px -462px 40px 40px 80px 676px '/images/design/icon-x1.png?1';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
