h1 {
    color: #00a49c;
    font-size: 30px;
    font-family: sans-serif;
}

.container-link {
    display: block;
    background: #4e4e4e;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

a.link {
    color: #fff;
    border-bottom: 1px dashed;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: none;
    border-color: #fff;
    transition: all 0.1s;
    padding-bottom: 4px;
}

a.link:hover {
    border-bottom-style: solid;
}

a.link span {
    background: #3366B6;
    display: inline-block;
    border-radius: 4px;
    padding: 2px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 2px;
}
